// Import page-specific CSS files here.
@import "home";

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f7f7f7;
}

.card-product {
  overflow: hidden;
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card-product:hover {
  transform: translateY(-5px);
}

.card-product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-product-content {
  padding: 20px;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
}
