<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB Smart Bike</title>
    <link rel="stylesheet" href="app/assets/stylesheets/pages/_home.scss">

</head>
<body>
    <header class="header">
        <img src="assets/images/bike_rental.jpg" alt="Bike Rental Image">
        <section class="hero">
            <div class="hero-content">
                <h1>Rent Your Perfect Ride Today!</h1>
                <p>Find the freedom of exploring your city on two wheels.</p>
                <a href="renting-page.html" class="rent-button">Start Renting</a>
            </div>
        </section>
    </header>
</body>
</html>
