<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497515098781-e965764ab601?q=80&w=2021&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Rent-a-Bike <strong>is the place</strong> for <strong>finding the right bike hire</strong>!</h1>
    <p>Stay active and travel green by hiring a bike near you.</p>
    <a class="btn btn-flat" href="bikes">Explore our bikes</a>
  </div>
</div>
