<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycle Chums</title>

</head>
<body>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Choose your Pedal Chum - Your Go-To for Two-Wheeled Adventures!
</div>

<div class="card-container">
    <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Speedy Bike">
        <div class="card-product-content">
            <h2>Speedy Bike</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
    </div>

    <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Comfy Comfy Bike">
        <div class="card-product-content">
            <h2>Comfy Comfy Bike</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
    </div>

    <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Big Bike">
        <div class="card-product-content">
            <h2>Big Bike</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
    </div>

    <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Speedy Bike">
        <div class="card-product-content">
            <h2>Speedy Bike</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
    </div>
</div>

</body>
</html>
