<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Choose your Pedal Chum
</div>


<div class= "card-container">

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Speedy Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Comfy Comfy Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Big Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


</div>
